.container-main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#smooth-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#smooth-content {
  width: 100%;
  position: relative;
} 